/* Mulish Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.secondary-color{
    color: #FF5400;
}

/* navigation styles */

nav{
    display: flex; 
    justify-content: space-between;
    margin: 50px 125px;
    align-items: center;
}
.nav-logo-title{
    display: flex;
}
.nav-logo{
    width: 60px;
    height: 60px;
    padding-top: 23px;
}
.nav-title{
    margin-left: 15px;
font-size: 2.25rem;
font-weight: 800;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 40px;
    color: #424247;
font-family: Mulish;
font-size: 1.125rem;
font-weight: 400;
}
.nav-menu a{
    text-decoration: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
}
.menu-toggle {
    cursor: pointer;
    display: none;
}



/* smaller device */

@media only screen and (max-width: 600px) {
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 1.25rem;
    }
    .menu-toggle {
        display: block;
        padding-right: 20px;
       
    }
    .nav-logo{
        width: 30px;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
    }

    .nav-menu {
        display: none;  
    }
    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: ;
        text-align: center;
        padding: 10px;
    }
}

/* medium device */
@media screen and (min-width:600px) and (max-width:992px){
    
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 2.5rem;
        padding-left: 20px;
        
    }
    .menu-toggle {
        display: block;
        padding-right: 50px;
       
    }
    .nav-logo{
        width: 70px;
        height: 70px;
        padding-top: 23px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;  
    }   

    .nav-list li {
        text-align: center;
        padding: 20px;
    }
}

/* larger devices */
@media screen and (min-width:992px) and (max-width:1200px){
    
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 2.5rem;
        
    }
    .menu-toggle {
        display: block;
        padding-right: 50px;
       
    }
    .nav-logo{
        width: 50px;
        height: 60px;
        padding-top: 27px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;  
    }   

    .nav-list li {
        text-align: center;
        padding: 20px;
    }
}