/* Mulish Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.secondary-color{
    color: #FF5400;
}

/* Navigation Styles Starts*/

nav{
    display: flex; 
    justify-content: space-between;
    margin: 30px 125px;
    align-items: center;
}
.nav-logo-title{
    display: flex;
}
.nav-logo{
    width: 60px;
    height: 60px;
    padding-top: 23px;
}
.nav-title{
    margin-left: 15px;
font-size: 2.25rem;
font-weight: 800;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 40px;
    color: #424247;
font-family: Mulish;
font-size: 1.125rem;
font-weight: 400;
}
.nav-menu a{
    text-decoration: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
}
.menu-toggle {
    cursor: pointer;
    display: none;
}

/* Navigation Style Ends */

/* Explore Style Starts */

.explore{
    margin: 0px 125px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/images/banner.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 500px;
}
.explore-contents{
    text-align: center;
    max-width: 800px;
    padding: 80px 245px 240px 245px;
}
.explore-title{
    color: #FFF;
font-size: 4rem;
font-weight: 800;
margin-bottom: 0;
}
.explore-description{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    
}
/* .explore-inputs{
    background-color: #FFF;
}
.explore-inputs{
    display: flex;
    padding: 20px;
    gap: 24px;
    max-width: 1400px;
}
input{
    max-width: 174px;
    max-height: 52px;
} */

.search-container {
    display: flex;
    padding: 16px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    
}

form {
    display: flex;
    gap: 24px;
}

.input-container {
    width: 100%;
    margin-bottom: 16px;
}


.icon-container {
    position: relative;
}

input,
select {
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
    width: calc(100% - 16px);
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-btn {
    display:flex ;
    width: 100%;
text-align: start;
    border-radius: 8px;
background: #FF5400;
    color: white;
    padding: 16px 30px 16px 65px;
    border: none;
    cursor: pointer;
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
}

.search-btn:hover {
    background-color: rgba(0, 128, 255, 1);
}

.search-icon {
    margin-right: 8px;
}






/* smaller device */

@media only screen and (max-width: 600px) {
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 1.25rem;
    }
    .menu-toggle {
        display: block;
        padding-right: 20px;
       
    }
    .nav-logo{
        width: 30px;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
    }

    .nav-menu {
        display: none;  
    }
    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: ;
        text-align: center;
        padding: 10px;
    }
    form {
        flex-direction: column;
        gap: 5px;
    }
    .explore{
        margin: auto;
        width: 300px;
        height: auto;
    }
    .explore-contents {
        padding: 20px 20px 40px 20px;
    }

    .explore-title {
        font-size: 1.5rem;
    }

    .search-btn {
        font-size: 14px;
        text-align: center;
    }
    
    
}

/* medium device */
@media screen and (min-width:600px) and (max-width:992px){
    
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 2.5rem;
        padding-left: 20px;
        
    }
    .menu-toggle {
        display: block;
        padding-right: 50px;
       
    }
    .nav-logo{
        width: 70px;
        height: 70px;
        padding-top: 23px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;  
    }   

    .nav-list li {
        text-align: center;
        padding: 20px;
    }
    
    .explore{
        margin: auto;
        width: 700px;
    }
    .explore-contents {
        padding: 60px 20px 10px 20px;
    }

    .explore-title {
        font-size: 1.8rem;
    }

    .search-btn {
       
        font-size: 16px;
    }

}

/* larger devices */
@media screen and (min-width:992px) and (max-width:1200px){
    
    nav{
        display: flex; 
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }
    .nav-title{
        font-size: 2.5rem;
        
    }
    .menu-toggle {
        display: block;
        padding-right: 50px;
       
    }
    .nav-logo{
        width: 50px;
        height: 60px;
        padding-top: 27px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;  
    }   

    .nav-list li {
        text-align: center;
        padding: 20px;
    }
    .explore-contents {
        padding: 80px 20px 40px 20px;
    }

    .explore-title {
        font-size: 2rem;
    }

    .search-btn {
        padding: 16px 30px 16px 65px;
        font-size: 18px;
    }
}