/* Mulish Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.secondary-color {
    color: #FF5400;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF5400;
    padding: 10px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

.btn-primary:hover {
    color: #FF5400;
    background-color: #FFF;
    border: 2px solid #FF5400;
}

/* Navigation Styles Starts*/

nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 125px;
    align-items: center;
}

.nav-logo-title {
    display: flex;
}

.nav-logo {
    width: 60px;
    height: 60px;
    padding-top: 23px;
}

.nav-title {
    margin-left: 15px;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    list-style: none;
    margin-right: 40px;
    color: #424247;
    font-family: Mulish;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-menu a {
    text-decoration: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

/* Navigation Style Ends */

/* Explore Style Starts */

.explore {
    margin: 0px 125px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.explore-contents {
    text-align: center;
    max-width: 800px;
    padding: 80px 245px 240px 245px;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0;
}

.explore-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;

}

/* .explore-inputs{
    background-color: #FFF;
}
.explore-inputs{
    display: flex;
    padding: 20px;
    gap: 24px;
    max-width: 1400px;
}
input{
    max-width: 174px;
    max-height: 52px;
} */

.search-container {
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.search-form {
    display: flex;
    gap: 24px;
}

.input-container {
    width: 100%;
    margin-bottom: 16px;
}


.icon-container {
    position: relative;
}

.search-input,
select {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    width: calc(100% - 16px);
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-btn {
    display: flex;
    width: 100%;
    text-align: start;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    padding: 16px 30px 16px 65px;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.search-btn:hover {
    background-color: rgba(0, 128, 255, 1);
}

.search-icon {
    margin-right: 8px;
}

/* Tours Section Styles */

.tours {
    margin-top: 130px;
    display: flex;
    gap: 100px;
    height: 550px;
    margin-left: 125px;
    margin-right: 125px;

}

.tours-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tours .tours-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.tours-image img {
    margin-top: 33px;
    height: 73%;

}

/* Destinations Styles */

.destination {
    margin: 100px 125px 0 125px;
}

.common-contents {
    text-align: center;
}

.common-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.common-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    flex-wrap: wrap;
}

.row {
    margin-right: 125px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 5px;
    padding: 2px;


}

.maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 530px;


}

.destination .row h3 {
    padding: 100px;
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;

}

.row div {
    flex: 1;
}

.indonesia {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;

}

.srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.north-america {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
}

.kashmir {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 83%;
}

.bangladesh {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
}

.bandarban {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('/images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 585px;
}

/* Service Section Starts */
.service {
    margin: 100px 125px;
}

.service-collage {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.hotel,
.worldclass,
.best-price {
    padding: 30px 55px 30px 30px;

}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.worldclass {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20); 
    background: rgba(41, 206, 246, 0.05);
    max-width: 573px;
    max-height: 300px;
}
.consult{
    flex-wrap: nowrap;
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}
.consult-image{
    width: 65px;
}

/* Facts styles */
/* facts section */
.facts{
    text-align: center;
    margin: 0 125px;
}
.facts-card-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF5400;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card:hover{
    background-color: #ff55003d;
}
.facts-card-container .card img{
    width: 50px;
}
.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Newsletter Styles */
.newsletter{
    display: flex;
    justify-content: space-around;
    margin: 150px 125px;
}
.contact{
padding: 40px;
border: 1px solid #FF5400;
border-radius: 16px;
}
.contact .contact-form {
    display: flex;
    flex-direction: column;
}
.contact-image{
    width: 500px;
height: 510px;
}

.contact-input, .btn-primary{
    border: none;
    width: 390px;
    height: 52px;
    margin: 5px;
    padding: 16px 100px 20px 16px;
    box-sizing: border-box;
    border-radius: 8px;
}
.contact-input{
background: rgba(19, 19, 24, 0.05);
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 15px 35px;
}

/* Footer styles */

.footer{
    text-align: center;
    padding: 100px 125px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-logo-title{
    display: flex;
    justify-content: center;
}
.footer-logo {
    width: 60px;
    height: 60px;
    padding-top: 23px;
}

.footer-title {
    margin-left: 15px;
    font-size: 2.25rem;
    font-weight: 800;
}
.footer-description{
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(240, 2%, 36%);
font-size: 16px;
font-weight: 400;
padding: 0 150px;
}
.social-links{
    margin-top: 32px;
    margin-bottom: 100px;
}
footer .footer .social-links a{
    text-decoration: none;
    color: #131318;
}
.fa-brands{
    margin-right: 10px;
}







/* Responsive Designs */
/* smaller device */

@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }

    .nav-title {
        font-size: 1.25rem;
    }

    .menu-toggle {
        display: block;
        padding-right: 20px;

    }

    .nav-logo {
        width: 30px;
        height: 40px;
        padding-top: 9px;
        padding-left: 20px;
    }

    .nav-menu {
        display: none;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: ;
        text-align: center;
        padding: 10px;
    }

    .search-form {
        flex-direction: column;
        gap: 5px;
    }

    .explore {
        margin: auto;
        width: 300px;
        height: auto;
    }

    .explore-contents {
        padding: 20px 20px 40px 20px;
    }

    .explore-title {
        font-size: 1.5rem;
    }

    .search-btn {
        font-size: 14px;
        text-align: center;
    }

    /* tours */
    .tours {
        margin: 20px 26px 0 26px;
        flex-direction: column;
        gap: 20px;
    }

    .tours-title {
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .tours .tours-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.875rem;
        font-weight: 400;
    }

    .tours-image img {
        margin-top: 0;
        width: 100%;
    }

    /* Destination */

    .destination {
        margin: 180px 26px 0 26px;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        width: 300px;
    }

    .common-title,
    .destination h3 {
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;
    }

    .destination .common-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 0.875rem;
        font-weight: 400;
    }

    .service {
        margin: 10px 12px;
    }

    .service-collage {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    /* Facts */
    .facts{
        margin: 10px 12px;
    }
    .facts-card-container {
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-around;
        gap:10px;
    }
    
    .facts-card-container .card-title {
        font-size: 1rem;
    }
    
    .facts-card-container .card-stats {
        font-size: 1.8rem;
    }
    /* newsletter */
    .newsletter{
        flex-direction: column;
        justify-content: space-around;
        margin: 10px 12px;
        gap: 24px;
    }
    .contact-form{
        gap: 24px;
    }
    .contact-image{
        width: 100%;
    }
    .contact-input, .btn-primary{
        width: 270px;
        height: 52px;
        margin: 1px;
        border: none;
        box-sizing: border-box;
        border-radius: 8px;
    }

    /* footer */
    
.footer{
    text-align: center;
    padding: 15px 12px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-logo-title{
    display: flex;
    justify-content: center;
}
.footer-logo {
    width: 30px;
    height: 40px;
    padding-top: 9px;
    padding-left: 20px;
}

.footer-title {
    margin-left: 15px;
    font-size: 1.25rem;
    margin-top: 20px;
    font-weight: 800;
} 

}


/* medium device */
@media screen and (min-width:600px) and (max-width:992px) {

    nav {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }

    .nav-title {
        font-size: 2.5rem;
        padding-left: 20px;

    }

    .menu-toggle {
        display: block;
        padding-right: 50px;

    }

    .nav-logo {
        width: 70px;
        height: 70px;
        padding-top: 23px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;
    }

    .nav-list li {
        text-align: center;
        padding: 20px;
    }

    .explore {
        margin: auto;
        width: 700px;
    }

    .explore-contents {
        padding: 60px 20px 10px 20px;
    }

    .explore-title {
        font-size: 1.8rem;
    }

    .search-btn {

        font-size: 16px;
    }

    /* tours */
    .tours {
        margin: 20px 50px 0 50px;
        flex-direction: column;
        gap: 20px;
    }

    .tours-title {
        color: #131318;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .tours .tours-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
    }

    .tours-image img {
        margin-top: 0;
        width: 100%;
    }

    /* destination */
    .destination {
        margin: 400px 50px 0 50px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        width: 650px;
    }

    .common-title,
    .destination h3 {
        color: #131318;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .destination .common-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
    }
    .service {
        margin: 20px 50px;
    }

    .service-collage {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    /* facts */
    .facts{
        margin: 20px 50px;
    }
    .facts-card-container {
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-around;
        gap:10px;
    }
    
    .facts-card-container .card-title {
        font-size: 1rem;
    }
    
    .facts-card-container .card-stats {
        font-size: 1.8rem;
    }

    /* newsletter */
    .newsletter{
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 50px;
        gap: 24px;
    }
    .contact{
        text-align: center;
        border: 1px solid #FF5400;
        border-radius: 16px;
    }
    .contact-form{
        align-items: center;
    }

    .contact-image{
        width: 100%;
    }
}

/* larger devices */
@media screen and (min-width:992px) and (max-width:1200px) {

    nav {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        align-items: center;
    }

    .nav-title {
        font-size: 2.5rem;

    }

    .menu-toggle {
        display: block;
        padding-right: 110px;

    }

    .nav-logo {
        width: 50px;
        height: 60px;
        padding-top: 27px;
        padding-left: 50px;
    }

    .nav-menu {
        display: none;
    }

    .nav-list li {
        text-align: center;
        padding: 20px;
    }

    .explore{
        margin: 30px 120px;
    }


    .explore-contents {
        padding: 80px 20px 40px 20px;
    }

    .explore-title {
        font-size: 2.5rem;
    }

    .search-btn {
        padding: 16px 30px 16px 65px;
        font-size: 18px;
    }

    /* tours */
    .tours {
        margin: 20px 120px;
        flex-direction: column;
        gap: 20px;
    }

    .tours-title {
        color: #131318;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .tours .tours-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 1.5rem;
        font-weight: 400;
    }

    .tours-image img {
        margin-top: 0;
        width: 100%;
    }

    /* destination */
    .destination {
        margin: 650px 120px 0 120px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        width: 770px;
    }

    .destination h3,
    .common-title {
        color: #131318;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .destination .common-description {
        color: rgba(19, 19, 24, 0.70);
        font-size: 1.5rem;
        font-weight: 400;
    }
    /* services */
    .service {
        margin: 30px 120px;
    }

    .service-collage {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    /* facts */
    .facts{
        margin: 30px 120px;
    }
    .facts-card-container {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        gap:10px;
    }
    
    .facts-card-container .card-title {
        font-size: 1rem;
    }
    
    .facts-card-container .card-stats {
        font-size: 1.8rem;
    }

    /* newsletter */
    .newsletter{
        flex-direction: column;
        gap: 24px;
        margin: 20px 120px;
    }
    .contact{
        text-align: center;
        border: 1px solid #FF5400;
        border-radius: 16px;
        padding: 20px;
    }
    .contact form{
        align-items: center;
    }

    .contact-image{
        width: 100%;
    }

}